[submodule ".tmux/plugins/tmux-resurrect"]
  path = .tmux/plugins/tmux-resurrect
  url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule ".tmux/plugins/tmux-sensible"]
  path = .tmux/plugins/tmux-sensible
  url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule ".tmux/plugins/tmux-yank"]
  path = .tmux/plugins/tmux-yank
  url = https://github.com/tmux-plugins/tmux-yank.git
[submodule ".tmux/plugins/tpm"]
  path = .tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm.git
[submodule ".tmux/plugins/powerline"]
	path = .tmux/plugins/powerline
	url = https://github.com/powerline/powerline.git
[submodule ".vim/bundle/Vundle.vim"]
  path = .vim/bundle/Vundle.vim
  url = https://github.com/VundleVim/Vundle.vim.git
